<odoo>

    <!-- Categorias -->
    <menuitem id="sunat_menu_root" name="Sunat" sequence="1" parent="account.menu_finance_configuration"/>
    <menuitem id="tributario_menu_root" name="Tributario" sequence="0" parent="account.menu_finance_reports"/>

    <!--Items-->
    <menuitem id="sunat_detracciones_menu" name="Detracciones" sequence="1" parent="sunat_menu_root" action="action_sunat_detracciones"/>
    <menuitem id="sunat_document_type_menu" name="Tipo Documento" sequence="1" parent="sunat_menu_root" action="action_sunat_document_type"/>
    <menuitem id="sunat_document_type_identity_menu" name="Tipo Documento de Identidad" sequence="1" parent="sunat_menu_root"
              action="action_sunat_document_type_identity"/>
    <!--<menuitem id="sunat_currency_type_menu" name="Tipos de Monedas" sequence="1" parent="sunat_menu_root" action="action_sunat_currency_type" />-->
    <menuitem id="sunat_customs_code_menu" name="Codigos de la Aduana" sequence="1" parent="sunat_menu_root" action="action_sunat_customs_code"/>
    <menuitem id="sunat_classification_goods_menu" name="Clasificacón de Bienes" sequence="1" parent="sunat_menu_root"
              action="action_sunat_classification_goods"/>
    <menuitem id="sunat_stock_catalog_menu" name="Catalogo de Stock" sequence="1" parent="sunat_menu_root" action="action_sunat_stock_catalog"/>
    <menuitem id="sunat_type_existence_menu" name="Tipo de Existencia" sequence="1" parent="sunat_menu_root" action="action_sunat_type_existence"/>
    <menuitem id="sunat_type_operation_menu" name="Tipo de Operación" sequence="1" parent="sunat_menu_root" action="action_sunat_type_operation"/>

    <menuitem id="ple_report_txt_menu" name="Generar PLE" sequence="1" parent="tributario_menu_root" action="ple_report_txt"/>

    <!--<record id="action_make_testing" model="ir.actions.server">-->
    <!--<field name="name">Make Testing</field>-->
    <!--<field name="condition">True</field>-->
    <!--<field name="type">ir.actions.server</field>-->
    <!--<field name="model_id" ref="model_sunat_type_currency"/>-->
    <!--<field name="state">code</field>-->
    <!--<field name="code">model.sunat_type_currency()</field>-->
    <!--</record>-->

    <!--<menuitem id="reg_retenciones_menu" name="Accion URL" sequence="2" parent="tributario_menu_root" action="action_make_testing"/>-->
    <menuitem id="reg_retenciones_menu" name="Registro de Retenciones" sequence="2" parent="tributario_menu_root" action="excel_report_retentions"/>
    <menuitem id="kardex_report_menu" name="Reporte Kardex" sequence="2" parent="tributario_menu_root" action="kardex_report_sunat"/>
    <menuitem id="inv_perm_val_menu" name="Inventario Valorizado" sequence="1" parent="tributario_menu_root" action="inventory_valorized_sunat"/>
    <menuitem id="consolidated_journal_menu" name="Diario Consolidado" sequence="1" parent="tributario_menu_root" action="consolidated_journal_sunat"/>
    <!-- <menuitem id="chart_accounts_menu" name="Plan de Cuentas" sequence="1" parent="tributario_menu_root" action="chart_accounts_sunat"/> -->

</odoo>