<odoo>
    <!-- Categorias -->
    <data>
        <!--<menuitem id="chart_of_accounts_menu_root" name="Reportes PLE" parent="account.menu_finance_reports"-->
                  <!--sequence="0"/>-->
        <!--reportes PLE-->
        <menuitem id="chart_of_accounts_menu" name="Ple. Plan de Cuentas" parent="sunat.reporte_ple_menu_root"
                  action="chart_accounts_VG" sequence="5"/>
        <menuitem id="four_retentions_menu" name="Ple.Retenciones 4ta" parent="sunat.reporte_ple_menu_root"
                  action="four_retentions_VG" sequence="6"/>
        <menuitem id="not_domiciled_menu" name="Ple. No Domiciliados" parent="sunat.reporte_ple_menu_root"
                  action="not_domiciled_VG" sequence="2"/>
        <menuitem id="retentions_menu" name="Ple. Retenciones IGV" parent="sunat.reporte_ple_menu_root"
                  action="retentions_VG" sequence="3"/>
        <menuitem id="record_of_actives_menu" name="Ple. Reg. Activos" parent="sunat.reporte_ple_menu_root"
                  action="record_of_actives_VG" sequence="9"/>
        <menuitem id="account_14_menu" name="Ple. Cuenta 14" parent="sunat.reporte_ple_menu_root"
                  action="account_14_VG" sequence="8"/>
        <menuitem id="account_12_13_menu" name="Ple. Cuenta 12 y 13" parent="sunat.reporte_ple_menu_root"
                  action="account_12_13_VG" sequence="7"/>
        <menuitem id="account_detail_menu" name="Ple. Cuenta 19" parent="sunat.reporte_ple_menu_root"
                  action="account_detail_VG" sequence="5"/>
        <menuitem id="account_10_menu" name="Ple. Cuenta 10" parent="sunat.reporte_ple_menu_root"
                  action="account_10_VG" sequence="11"/>
        <menuitem id="account_17_menu" name="Ple. Cuenta 17" parent="sunat.reporte_ple_menu_root"
                  action="account_17_VG" sequence="12"/>
        <menuitem id="sales_menu" name="Ple. Venta" parent="sunat.reporte_ple_menu_root"
                  action="sales_VG" sequence="4"/>
    </data>
</odoo>