<odoo>
    <!-- Categorias -->
<data>
    <menuitem id="chart_of_accounts_menu_root" name="Reportes PLE" parent="account.menu_finance_reports" sequence="0"/>
<menuitem id="chart_of_accounts_menu" name="Plan de Cuenta" parent="chart_of_accounts_menu_root" action="chart_of_accounts_sunat" sequence="1"/>
</data>
</odoo>